%h2
  = t('.title')

-# TODO проверить в rails4, возможно не поправлено (render @comment.parent)
= render :partial => 'comment', :object => @comment.parent if @comment.parent

= render 'form'

= link_to t('.back'), stories_path
